In [143]:
# libraries
import random
import pandas as pd
import numpy as np
import seaborn as sns
import networkx as nx
import datetime
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import matplotlib.gridspec as gridspec
import warnings; warnings.filterwarnings("ignore")

# unhide all rows and columns
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)

# for character encoding
import chardet

# for box-cox transformation
from scipy import stats

# for min_max scaling

In [144]:
player_stats = pd.read_csv("2022-2023_NBA_Player_Stats_-_Regular.csv", delimiter=";", encoding="latin-1", index_col=0)

df = player_stats

df.head()

              Player Pos  Age   Tm   G  GS    MP   FG   FGA    FG%   3P  3PA    3P%   2P   2PA    2P%   eFG%   FT  FTA    FT%  ORB  DRB   TRB  AST  STL  BLK  TOV   PF   PTS
Rk
1   Precious Achiuwa   C   23  TOR  55  12  20.7  3.6   7.3  0.485  0.5  2.0  0.269  3.0   5.4  0.564  0.521  1.6  2.3  0.702  1.8  4.1   6.0  0.9  0.6  0.5  1.1  1.9   9.2
2       Steven Adams   C   29  MEM  42  42  27.0  3.7   6.3  0.597  0.0  0.0  0.000  3.7   6.2  0.599  0.597  1.1  3.1  0.364  5.1  6.5  11.5  2.3  0.9  1.1  1.9  2.3   8.6
3        Bam Adebayo   C   25  MIA  75  75  34.6  8.0  14.9  0.540  0.0  0.2  0.083  8.0  14.7  0.545  0.541  4.3  5.4  0.806  2.5  6.7   9.2  3.2  1.2  0.8  2.5  2.8  20.4
4       Ochai Agbaji  SG   22  UTA  59  22  20.5  2.8   6.5  0.427  1.4  3.9  0.355  1.4   2.7  0.532  0.532  0.9  1.2  0.812  0.7  1.3   2.1  1.1  0.3  0.3  0.7  1.7   7.9
5       Santi Aldama  PF   22  MEM  77  20  21.8  3.2   6.8  0.470  1.2  3.5  0.353  2.0   3.4  0.591  0.560  1.4  1.9  0.750  1.1  3.7   4.8  1.3  0.6  0.6  0.8  1.9   9.0

In [145]:
df.describe()

              Age           G          GS          MP          FG         FGA         FG%          3P         3PA         3P%          2P         2PA         2P%        eFG%          FT         FTA         FT%         ORB         DRB         TRB         AST         STL         BLK         TOV          PF         PTS
count  679.000000  679.000000  679.000000  679.000000  679.000000  679.000000  679.000000  679.000000  679.000000  679.000000  679.000000  679.000000  679.000000  679.000000  679.000000  679.000000  679.000000  679.000000  679.000000  679.000000  679.000000  679.000000  679.000000  679.000000  679.000000  679.000000
mean    26.025037   43.338733   20.069219   19.463476    3.249190    6.920913    0.462190    0.996465    2.782916    0.318141    2.254786    4.138144    0.527147    0.532948    1.366568    1.768630    0.711576    0.842268    2.620177    3.461414    2.011635    0.601767    0.370398    1.067305    1.660677    8.858763
std      4.325709   24.727306   25.766359    9.416316    2.362645    4.795709    0.116682    0.862161    2.209427    0.139918    1.906928    3.380598    0.147627    0.114166    1.478315    1.793762    0.224774    0.731867    1.715999    2.281317    1.891472    0.392063    0.367514    0.799478    0.770492    6.631226
min     19.000000    1.000000    0.000000    1.000000    0.000000    0.000000    0.000000    0.000000    0.000000    0.000000    0.000000    0.000000    0.000000    0.000000    0.000000    0.000000    0.000000    0.000000    0.000000    0.000000    0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%     23.000000   22.000000    0.000000   12.150000    1.500000    3.400000    0.415000    0.300000    1.000000    0.286000    0.900000    1.700000    0.484000    0.496000    0.400000    0.600000    0.667000    0.300000    1.400000    1.800000    0.800000    0.300000    0.100000    0.500000    1.200000    4.100000
50%     25.000000   45.000000    6.000000   18.800000    2.600000    5.700000    0.454000    0.800000    2.400000    0.346000    1.600000    3.100000    0.535000    0.537000    0.900000    1.200000    0.760000    0.700000    2.300000    3.000000    1.300000    0.500000    0.300000    0.900000    1.600000    6.900000
75%     29.000000   65.500000   36.500000   27.550000    4.200000    9.200000    0.505000    1.500000    4.150000    0.388000    3.000000    5.550000    0.594000    0.579000    1.700000    2.300000    0.841000    1.100000    3.400000    4.500000    2.700000    0.800000    0.500000    1.400000    2.200000   11.550000
max     42.000000   83.000000   83.000000   41.000000   11.200000   22.200000    1.000000    4.900000   11.400000    1.000000   10.500000   17.800000    1.000000    1.000000   10.000000   12.300000    1.000000    5.100000    9.600000   12.500000   10.700000    3.000000    3.000000    4.100000    5.000000   33.100000

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 679 entries, 1 to 539
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  679 non-null    object
 1   Pos     679 non-null    object
 2   Age     679 non-null    int64
 3   Tm      679 non-null    object
 4   G       679 non-null    int64
 5   GS      679 non-null    int64
 6   MP      679 non-null    float64
 7   FG      679 non-null    float64
 8   FGA     679 non-null    float64
 9   FG%     679 non-null    float64
 10  3P      679 non-null    float64
 11  3PA     679 non-null    float64
 12  3P%     679 non-null    float64
 13  2P      679 non-null    float64
 14  2PA     679 non-null    float64
 15  2P%     679 non-null    float64
 16  eFG%    679 non-null    float64
 17  FT      679 non-null    float64
 18  FTA     679 non-null    float64
 19  FT%     679 non-null    float64
 20  ORB     679 non-null    float64
 21  DRB     679 non-null    float64
 22  TRB     679 non-null    float64
 23  AST     679 non-null    float64
 24  STL     679 non-null    float64
 25  BLK     679 non-null    float64
 26  TOV     679 non-null    float64
 27  PF      679 non-null    float64
 28  PTS     679 non-null    float64
dtypes: float64(23), int64(3), object(3)
memory usage: 159.1+ KB

In [10]:
df.dropna()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Rk,,,,,,,,,,,,,,,,,,,,,
1,Precious Achiuwa,C,23,TOR,55,12,20.7,3.6,7.3,0.485,...,0.702,1.8,4.1,6.0,0.9,0.6,0.5,1.1,1.9,9.2
2,Steven Adams,C,29,MEM,42,42,27.0,3.7,6.3,0.597,...,0.364,5.1,6.5,11.5,2.3,0.9,1.1,1.9,2.3,8.6
3,Bam Adebayo,C,25,MIA,75,75,34.6,8.0,14.9,0.540,...,0.806,2.5,6.7,9.2,3.2,1.2,0.8,2.5,2.8,20.4
4,Ochai Agbaji,SG,22,UTA,59,22,20.5,2.8,6.5,0.427,...,0.812,0.7,1.3,2.1,1.1,0.3,0.3,0.7,1.7,7.9
5,Santi Aldama,PF,22,MEM,77,20,21.8,3.2,6.8,0.470,...,0.750,1.1,3.7,4.8,1.3,0.6,0.6,0.8,1.9,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,Thaddeus Young,PF,34,TOR,54,9,14.7,2.0,3.7,0.545,...,0.692,1.3,1.8,3.1,1.4,1.0,0.1,0.8,1.6,4.4
536,Trae Young,PG,24,ATL,73,73,34.8,8.2,19.0,0.429,...,0.886,0.8,2.2,3.0,10.2,1.1,0.1,4.1,1.4,26.2
537,Omer Yurtseven,C,24,MIA,9,0,9.2,1.8,3.0,0.593,...,0.833,0.9,1.7,2.6,0.2,0.2,0.2,0.4,1.8,4.4
538,Cody Zeller,C,30,MIA,15,2,14.5,2.5,3.9,0.627,...,0.686,1.7,2.6,4.3,0.7,0.2,0.3,0.9,2.2,6.5
539,Ivica Zubac,C,25,LAC,76,76,28.6,4.3,6.8,0.634,...,0.697,3.1,6.8,9.9,1.0,0.4,1.3,1.5,2.9,10.8

In [151]:
TS = ((df.PTS) / (2 * ((df.FGA) + (0.44 * df.FTA)))) * 100

df.insert(29, "TS%", TS)

df.head()

              Player Pos  Age   Tm   G  GS    MP   FG   FGA    FG%   3P  3PA    3P%   2P   2PA    2P%   eFG%   FT  FTA    FT%  ORB  DRB   TRB  AST  STL  BLK  TOV   PF   PTS        TS%
Rk
1   Precious Achiuwa   C   23  TOR  55  12  20.7  3.6   7.3  0.485  0.5  2.0  0.269  3.0   5.4  0.564  0.521  1.6  2.3  0.702  1.8  4.1   6.0  0.9  0.6  0.5  1.1  1.9   9.2  55.341675
2       Steven Adams   C   29  MEM  42  42  27.0  3.7   6.3  0.597  0.0  0.0  0.000  3.7   6.2  0.599  0.597  1.1  3.1  0.364  5.1  6.5  11.5  2.3  0.9  1.1  1.9  2.3   8.6  56.106472
3        Bam Adebayo   C   25  MIA  75  75  34.6  8.0  14.9  0.540  0.0  0.2  0.083  8.0  14.7  0.545  0.541  4.3  5.4  0.806  2.5  6.7   9.2  3.2  1.2  0.8  2.5  2.8  20.4  59.041445
4       Ochai Agbaji  SG   22  UTA  59  22  20.5  2.8   6.5  0.427  1.4  3.9  0.355  1.4   2.7  0.532  0.532  0.9  1.2  0.812  0.7  1.3   2.1  1.1  0.3  0.3  0.7  1.7   7.9  56.203756
5       Santi Aldama  PF   22  MEM  77  20  21.8  3.2   6.8  0.470  1.2  3.5  0.353  2.0   3.4  0.591  0.560  1.4  1.9  0.750  1.1  3.7   4.8  1.3  0.6  0.6  0.8  1.9   9.0  58.931378

In [147]:
center = df[df.Pos == "C"]
point_guard = df[df.Pos == "PG"]
shooting_guard = df[df.Pos == "SG"]
small_forward = df[df.Pos == "SF"]
power_forward = df[df.Pos == "PF"]

small_forward.head()

                    Player Pos  Age   Tm   G  GS    MP   FG   FGA    FG%   3P  3PA    3P%   2P  2PA    2P%   eFG%   FT  FTA    FT%  ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
Rk
12  Thanasis Antetokounmpo  SF   30  MIL  37   0   5.6  0.5   1.2  0.435  0.0  0.2  0.000  0.5  1.0  0.526  0.435  0.3  0.6  0.500  0.4  0.8  1.2  0.4  0.1  0.1  0.3  0.6   1.4
14              OG Anunoby  SF   25  TOR  67  67  35.6  6.3  13.2  0.476  2.1  5.5  0.387  4.2  7.7  0.539  0.556  2.1  2.5  0.838  1.4  3.5  5.0  2.0  1.9  0.7  2.0  3.0  16.8
16             Deni Avdija  SF   22  WAS  76  40  26.6  3.3   7.6  0.437  0.9  3.1  0.297  2.4  4.6  0.530  0.497  1.6  2.2  0.739  1.0  5.4  6.4  2.8  0.9  0.4  1.6  2.8   9.2
20     Patrick Baldwin Jr.  SF   20  GSW  31   0   7.3  1.4   3.5  0.394  1.0  2.7  0.381  0.4  0.8  0.440  0.541  0.1  0.2  0.667  0.0  1.3  1.3  0.4  0.2  0.1  0.4  0.5   3.9
26         Dominick Barlow  SF   19  SAS  28   0  14.6  1.6   3.1  0.535  0.0  0.1  0.000  1.6  2.9  0.561  0.535  0.6  0.9  0.720  1.6  2.0  3.6  0.9  0.4  0.7  0.5  2.0   3.9

In [148]:
PO_dupl = df[df.duplicated(subset='Player', keep=False)]
print("Duplicate rows:")
print(PO_dupl)
print("")

num_duplicates = len(PO_dupl['Player'].unique())
print("The number of players recorded two or more times in the dataset is: " + str(num_duplicates))

df.drop_duplicates(subset='Player', inplace=True)
print("DataFrame after dropping duplicates:")
print(df)

Duplicate rows:
                       Player Pos  Age   Tm   G  GS    MP   FG   FGA    FG%   3P  3PA    3P%   2P  2PA    2P%   eFG%   FT  FTA    FT%  ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
Rk
6    Nickeil Alexander-Walker  SG   24  TOT  59   3  15.0  2.2   5.0  0.444  1.0  2.7  0.384  1.2  2.3  0.515  0.547  0.7  1.0  0.667  0.3  1.5  1.7  1.8  0.5  0.4  0.9  1.5   6.2
6    Nickeil Alexander-Walker  SG   24  UTA  36   3  14.7  2.3   4.7  0.488  1.0  2.4  0.402  1.3  2.3  0.578  0.591  0.8  1.1  0.692  0.2  1.4  1.6  2.1  0.7  0.4  1.3  1.6   6.3
6    Nickeil Alexander-Walker  SG   24  MIN  23   0  15.5  2.1   5.4  0.384  1.1  3.1  0.361  1.0  2.3  0.415  0.488  0.6  0.9  0.619  0.3  1.5  1.8  1.4  0.3  0.3  0.4  1.3   5.9
15           Ryan Arcidiacono  PG   28  TOT  20   4   8.6  0.5   1.9  0.243  0.4  1.2  0.348  0.1  0.7  0.071  0.351  0.0  0.0  0.000  0.0  0.8  0.8  1.2  0.3  0.0  0.4  0.9   1.3
15           Ryan Arcidiacono  PG   28  NYK  11   0   2.4  0.1   0.5  0.200  0.1  0.3  0.333  0.0  0.2  0.000  0.300  0.0  0.0  0.000  0.0  0.4  0.4  0.2  0.2  0.0  0.1  0.3   0.3
..                        ...  ..  ...  ...  ..  ..   ...  ...   ...    ...  ...  ...    ...  ...  ...    ...    ...  ...  ...    ...  ...  ...  ...  ...  ...  ...  ...  ...   ...
507         Russell Westbrook  PG   34  LAL  52   3  28.7  5.8  14.0  0.417  1.2  4.1  0.296  4.6  9.9  0.467  0.460  3.0  4.6  0.655  1.1  5.0  6.2  7.5  1.0  0.4  3.5  2.3  15.9
507         Russell Westbrook  PG   34  LAC  21  21  30.2  6.1  12.5  0.489  1.2  3.5  0.356  4.9  9.0  0.540  0.538  2.4  3.6  0.658  1.4  3.4  4.9  7.6  1.1  0.5  3.4  2.0  15.8
530             James Wiseman   C   21  TOT  45  22  19.3  4.2   7.5  0.558  0.1  0.4  0.200  4.1  7.1  0.580  0.563  1.5  2.2  0.701  1.6  4.3  5.9  0.7  0.2  0.6  1.1  2.4  10.0
530             James Wiseman   C   21  GSW  21   0  12.5  2.8   4.5  0.628  0.0  0.1  0.500  2.8  4.4  0.630  0.633  1.2  1.8  0.684  0.9  2.6  3.5  0.7  0.1  0.3  0.7  1.9   6.9
530             James Wiseman   C   21  DET  24  22  25.2  5.4  10.2  0.531  0.1  0.8  0.167  5.3  9.5  0.559  0.537  1.8  2.5  0.712  2.3  5.8  8.1  0.7  0.2  0.8  1.5  2.9  12.7

[210 rows x 29 columns]

The number of players recorded two or more times in the dataset is: 70
DataFrame after dropping duplicates:
               Player Pos  Age   Tm   G  GS    MP   FG   FGA    FG%   3P  3PA    3P%   2P   2PA    2P%   eFG%   FT  FTA    FT%  ORB  DRB   TRB   AST  STL  BLK  TOV   PF   PTS
Rk
1    Precious Achiuwa   C   23  TOR  55  12  20.7  3.6   7.3  0.485  0.5  2.0  0.269  3.0   5.4  0.564  0.521  1.6  2.3  0.702  1.8  4.1   6.0   0.9  0.6  0.5  1.1  1.9   9.2
2        Steven Adams   C   29  MEM  42  42  27.0  3.7   6.3  0.597  0.0  0.0  0.000  3.7   6.2  0.599  0.597  1.1  3.1  0.364  5.1  6.5  11.5   2.3  0.9  1.1  1.9  2.3   8.6
3         Bam Adebayo   C   25  MIA  75  75  34.6  8.0  14.9  0.540  0.0  0.2  0.083  8.0  14.7  0.545  0.541  4.3  5.4  0.806  2.5  6.7   9.2   3.2  1.2  0.8  2.5  2.8  20.4
4        Ochai Agbaji  SG   22  UTA  59  22  20.5  2.8   6.5  0.427  1.4  3.9  0.355  1.4   2.7  0.532  0.532  0.9  1.2  0.812  0.7  1.3   2.1   1.1  0.3  0.3  0.7  1.7   7.9
5        Santi Aldama  PF   22  MEM  77  20  21.8  3.2   6.8  0.470  1.2  3.5  0.353  2.0   3.4  0.591  0.560  1.4  1.9  0.750  1.1  3.7   4.8   1.3  0.6  0.6  0.8  1.9   9.0
..                ...  ..  ...  ...  ..  ..   ...  ...   ...    ...  ...  ...    ...  ...   ...    ...    ...  ...  ...    ...  ...  ...   ...   ...  ...  ...  ...  ...   ...
535    Thaddeus Young  PF   34  TOR  54   9  14.7  2.0   3.7  0.545  0.1  0.6  0.176  1.9   3.0  0.622  0.561  0.3  0.5  0.692  1.3  1.8   3.1   1.4  1.0  0.1  0.8  1.6   4.4
536        Trae Young  PG   24  ATL  73  73  34.8  8.2  19.0  0.429  2.1  6.3  0.335  6.1  12.7  0.476  0.485  7.8  8.8  0.886  0.8  2.2   3.0  10.2  1.1  0.1  4.1  1.4  26.2
537    Omer Yurtseven   C   24  MIA   9   0   9.2  1.8   3.0  0.593  0.3  0.8  0.429  1.4   2.2  0.650  0.648  0.6  0.7  0.833  0.9  1.7   2.6   0.2  0.2  0.2  0.4  1.8   4.4
538       Cody Zeller   C   30  MIA  15   2  14.5  2.5   3.9  0.627  0.0  0.1  0.000  2.5   3.8  0.649  0.627  1.6  2.3  0.686  1.7  2.6   4.3   0.7  0.2  0.3  0.9  2.2   6.5
539       Ivica Zubac   C   25  LAC  76  76  28.6  4.3   6.8  0.634  0.0  0.0  0.000  4.3   6.7  0.637  0.634  2.2  3.1  0.697  3.1  6.8   9.9   1.0  0.4  1.3  1.5  2.9  10.8

[539 rows x 29 columns]

In [149]:
df["3P%"].describe()

count    539.000000
mean       0.315306
std        0.137108
min        0.000000
25%        0.281000
50%        0.342000
75%        0.385000
max        1.000000
Name: 3P%, dtype: float64

In [75]:
df["3PA"].describe()

count    539.000000
mean       2.782375
std        2.244755
min        0.000000
25%        1.000000
50%        2.400000
75%        4.100000
max       11.400000
Name: 3PA, dtype: float64

In [76]:
df.G.describe()

count    539.000000
mean      48.042672
std       24.648006
min        1.000000
25%       30.500000
50%       54.000000
75%       68.000000
max       83.000000
Name: G, dtype: float64

In [153]:
df["TS%"].describe()

count    537.000000
mean      56.259142
std        9.774254
min        0.000000
25%       52.368565
50%       56.602495
75%       60.991957
max      106.907895
Name: TS%, dtype: float64

In [154]:
df.PTS.describe()

count    539.000000
mean       9.120965
std        6.842576
min        0.000000
25%        4.150000
50%        7.000000
75%       12.100000
max       33.100000
Name: PTS, dtype: float64

In [156]:
print("Above average scoring centers: ")
good_center = df.Player[(df["TS%"] >= 60.99) & (df.G > 54) & (df.Pos == "C") & (df.PTS >= 12.1)]

print("Above average scoring SFs: ")
good_sf = df.Player[(df["TS%"] >= 60.99) & (df.G > 54) & (df.Pos == "SF") & (df.PTS >= 12.1)]

print("Above average scoring SGs: ")
good_sg = df.Player[(df["TS%"] >= 60.99) & (df.G > 54) & (df.Pos == "SG") & (df.PTS >= 12.1)]

print("Above average scoring PGs: ")
good_pg = df.Player[(df["TS%"] >= 60.99) & (df.G > 54) & (df.Pos == "PG") & (df.PTS >= 12.1)]

print("Above average scoring PFs: ")
good_pf = df.Player[(df["TS%"] >= 60.99) & (df.G > 54) & (df.Pos == "PF") & (df.PTS >= 12.1)]

Above average scoring centers:
Above average scoring SFs:
Above average scoring SGs:
Above average scoring PGs:
Above average scoring PFs:

In [157]:
future = pd.concat([good_center, good_sf, good_sg, good_pg, good_pf], axis=1, join="outer")
future = future.dropna(how='all', axis=0).dropna(how='all', axis=1)
future.index = np.arange(1, len(future) + 1)

future

                Player              Player            Player                   Player            Player
1        Jarrett Allen                 NaN               NaN                      NaN               NaN
2        Deandre Ayton                 NaN               NaN                      NaN               NaN
3                  NaN                 NaN               NaN                      NaN   Harrison Barnes
4                  NaN                 NaN               NaN                      NaN  Bojan Bogdanovi?
5                  NaN                 NaN               NaN          Malcolm Brogdon               NaN
6                  NaN        Jimmy Butler               NaN                      NaN               NaN
7   Wendell Carter Jr.                 NaN               NaN                      NaN               NaN
8          Nic Claxton                 NaN               NaN                      NaN               NaN
9                  NaN                 NaN               NaN            Stephen Curry               NaN
10       Anthony Davis                 NaN               NaN                      NaN               NaN
11         Joel Embiid                 NaN               NaN                      NaN               NaN
12                 NaN                 NaN               NaN  Shai Gilgeous-Alexander               NaN
13         Rudy Gobert                 NaN               NaN                      NaN               NaN
14                 NaN                 NaN               NaN                      NaN      Aaron Gordon
15                 NaN                 NaN               NaN        Tyrese Haliburton               NaN
16                 NaN         Buddy Hield               NaN                      NaN               NaN
17                 NaN                 NaN     Kevin Huerter                      NaN               NaN
18                 NaN                 NaN               NaN             Kyrie Irving               NaN
19   Jaren Jackson Jr.                 NaN               NaN                      NaN               NaN
20        Nikola Joki?                 NaN               NaN                      NaN               NaN
21                 NaN                 NaN               NaN           Damian Lillard               NaN
22         Brook Lopez                 NaN               NaN                      NaN               NaN
23                 NaN     Lauri Markkanen               NaN                      NaN               NaN
24                 NaN   Kenyon Martin Jr.               NaN                      NaN               NaN
25                 NaN     Jaden McDaniels               NaN                      NaN               NaN
26                 NaN                 NaN  Donovan Mitchell                      NaN               NaN
27                 NaN     Trey Murphy III               NaN                      NaN               NaN
28        Kelly Olynyk                 NaN               NaN                      NaN               NaN
29        Jakob Poeltl                 NaN               NaN                      NaN               NaN
30                 NaN  Michael Porter Jr.               NaN                      NaN               NaN
31  Kristaps Porzi??is                 NaN               NaN                      NaN               NaN
32                 NaN                 NaN     Norman Powell                      NaN               NaN
33                 NaN                 NaN     Austin Reaves                      NaN               NaN
34    Domantas Sabonis                 NaN               NaN                      NaN               NaN
35        Myles Turner                 NaN               NaN                      NaN               NaN
36   Jonas Valan?i?nas                 NaN               NaN                      NaN               NaN
37      Christian Wood                 NaN               NaN                      NaN               NaN

In [162]:
print("Above average scoring centers: ")
good_center = print(df.Player[(df["TS%"] >= 60.99) & (df.G > 54) & (df.Pos == "C") & (df.PTS >= 12.1)])

print("Above average scoring SFs: ")
good_sf = print(df.Player[(df["TS%"] >= 60.99) & (df.G > 54) & (df.Pos == "SF") & (df.PTS >= 12.1)])

print("Above average scoring SGs: ")
good_sg = print(df.Player[(df["TS%"] >= 60.99) & (df.G > 54) & (df.Pos == "SG") & (df.PTS >= 12.1)])

print("Above average scoring PGs: ")
good_pg = print(df.Player[(df["TS%"] >= 60.99) & (df.G > 54) & (df.Pos == "PG") & (df.PTS >= 12.1)])

print("Above average scoring PFs: ")
good_pf = print(df.Player[(df["TS%"] >= 60.99) & (df.G > 54) & (df.Pos == "PF") & (df.PTS >= 12.1)])

Above average scoring centers:
Rk
8           Jarrett Allen
17          Deandre Ayton
84     Wendell Carter Jr.
94            Nic Claxton
110         Anthony Davis
143           Joel Embiid
167           Rudy Gobert
235     Jaren Jackson Jr.
249          Nikola Joki?
297           Brook Lopez
376          Kelly Olynyk
386          Jakob Poeltl
393    Kristaps Porzi??is
428      Domantas Sabonis
481          Myles Turner
483     Jonas Valan?i?nas
531        Christian Wood
Name: Player, dtype: object
Above average scoring SFs:
Rk
75           Jimmy Butler
209           Buddy Hield
307       Lauri Markkanen
311     Kenyon Martin Jr.
322       Jaden McDaniels
350       Trey Murphy III
390    Michael Porter Jr.
Name: Player, dtype: object
Above average scoring SGs:
Rk
222       Kevin Huerter
338    Donovan Mitchell
396       Norman Powell
406       Austin Reaves
Name: Player, dtype: object
Above average scoring PGs:
Rk
60             Malcolm Brogdon
108              Stephen Curry
164    Shai Gilgeous-Alexander
186          Tyrese Haliburton
230               Kyrie Irving
292             Damian Lillard
Name: Player, dtype: object
Above average scoring PFs:
Rk
27      Harrison Barnes
46     Bojan Bogdanovi?
169        Aaron Gordon
Name: Player, dtype: object